

header
{
	position:absolute;
	top:0px;
	left:0px;
	height:150px;
	width:100%;
	background-color:#3377ff;
}

header a
{
	color:white;
	text-decoration: none;
	font-family:"lucida","arial";
	font-size:150%;
}

#navTabsArea
{
	position:absolute;
	left:50%;
	bottom:5%;
	width:600px;
	/*background-color:gray;*/
	height:20px;
	
}

#navTabsArea a
{
	margin:5px;
}

#navTabsArea button
{
	background-color:transparent;
	border:none;
	color:white;
	text-decoration: none;
	font-family:"lucida","arial";
	font-size:150%;
	
}

#logo
{
	position:absolute;
	top:0%;
	left:150px;
	height:150px;
	width:149px;
	background-image: url("graphics/VCA-LOGOv6.png");
	
}



#loginForm
{
	position:absolute;
	top:40%;
	left:45%;
	height:250px;
	width:200px;
}

#loginLabel
{
	color:black;
	text-decoration: none;
	font-family:"lucida","arial";
	font-size:80%;
	margin:0px;
}

#loginBtn
{

	height:30px;
	width:173px;
}



footer
{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:70px;
	background-color:#3377ff;
}

footer a
{
	color:white;
	text-decoration: none;
	font-family:"lucida","arial";
	font-size:80%;
}


#info/*footer links*/
{
	position:absolute;
	top:50%;
	left:47.5%;
}



/*JACK=================================================================================================================*/

#googleMap
{
	position: absolute;
	right: 35%;
	top: 20%;
	left: 10%;
	width: auto;
	border: 3px solid #7aadff;
	padding: 250px;

}
/*JACK=================================================================================================================*/

/*ADRIAN===============================================================================================================*/
#userInfo
{
	position:absolute;
	top:150px;
	left:5%;
	height:77%;
	width:50%;
	font-family:"lucida","arial";

}


#details
{
	position:absolute;
	top:100px;
	left:50px;
	height:300px;
	width:300px;
	font-size:110%;
	
}

#preferences
{
	position:absolute;
	top:150px;
	right:0px;
	height:77%;
	width:50%;
	font-family:"lucida","arial";
}


#addUsersArea
{
	position:absolute;
	top:20%;
	left:42.5%;
	height:65%;
	width:20%;
	/*background-color:gray;*/
	font-family:"lucida","arial";
	
}

#accTypeRadios
{
	/*background-color:red;*/
	margin:1%;
}

#addUsersArea input 
{
	margin-top:0%;
	margin-left:0%;
	margin-bottom:15px;
	
}

#addUsersArea p
{
	margin-top:10px;
	margin-left:0%;
	margin-bottom:0%;
}



/*ADRIAN===============================================================================================================*/

/*SHANE================================================================================================================*/

table 
{
	width:70%;
	border: 2px solid #3377ff;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th, td
{
    padding: 7px;
}

th 
{
	border-bottom: 2px solid  #3377ff;
	border-right: 1px solid  #3377ff;
}

td 
{
	border: 1px solid  #3377ff;
}

/*SHANE=================================================================================================================*/

/*DARRAGH===============================================================================================================*/

#aboutText
{
	position:absolute;
	top:25%;
	left:30%;
	Width:450px;
	height:300px;
}

#msgText
{
	position:absolute;
	top:25%;
	right:20%;
	Width:300px;
	height:300px;
}

#contactText
{
	position:absolute;
	top:25%;
	left:10%;
	Width:300px;
	height:300px;
}

input[type="text"] 
{
	width: 120px;
	border: 1px solid #d6d6d6;
	padding: 2px;
	margin:10px;
	outline: none;
}

input[type="text"]:focus,input[type="text"]:hover 
{
	background-color: #d0e2f0;
	border: 1px solid #999999;
}

input[type="submit"]
{
	border: 1px solid #006633;
	background-color: #3377ff;
	color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}
	
input[type="submit"]:hover
{
	border: 1px solid #006633;
	background-color: #009fff;
	color: #ffffff;
	cursor: pointer;
}

/*DARRAGH===============================================================================================================*/
