/*-------BOOTSTRAP NAVBAR CSS-----------*/
header{
    width: 100%;
    height: 20vh;
    background-color:#3377ff;
}

.header-left{
    position: absolute;
    height:150px;
    top:0%;
    left:150px;
    width:149px;
    background-image: url("VCA-LOGOv6.png");
    background-repeat: no-repeat;
}

.header-right label{
    top: -3.7em;
    right: 0;
    cursor: pointer;
}
.header-right span{
    position: relative;
    width: 2em;
    height: 2em;
    background: rgba(255,255,255,.3);
    -webkit-transition: all .3s ease;
}
.header-right span:hover{
    background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
    content: '';
    position: absolute;
    width: 2em;
    height: .5em;
    top: 4px;
    left: 0;
    background: black;
}
.header-right span:after{
    top: 14px;
}
.header-right{
    text-align: right;
    margin-top: 80px;/*Height of top tabs*/
}
#open{
    display: none;
}
h1 {
    font-weight: 300;
    line-height: 40px;
}
nav>a{
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;/*Height of hover*/
    padding: 0 1em;
    -webkit-transition: all .3s ease;
    color: white;
}
nav>a:hover{
    background: rgba(255,255,255,.9);
    color: black;
}
.hidden-desktop{
    display: none;
}
button#logOutBtn.btn-link {
    color: white;
}
button#logOutBtn.btn-link:hover{
    color: black;
}
/*---------ADRIAN'S CSS------------*/

#loginForm
{
    position:absolute;
    top:40%;
    left:45%;
    height:250px;
    width:200px;
}

#loginLabel
{
    color:black;
    text-decoration: none;
    font-size:80%;
    margin:0px;
}

#loginBtn
{
    height:30px;
    width:162px;
}


footer
{
    position:fixed;
    bottom:0%;
    left:0%;
    width:100%;
    height:10vh;
    background-color:#3377ff;
}

footer a
{
    color:white;
    text-decoration: none;
    font-size:80%;
}


#userInfo
{
    position:absolute;
    top:20%;
    left:5%;
	right:50%;
	bottom:10%;
    font-size:110%;
	/*background-color:lightgray;*/

}

#preferences
{
    position:absolute;
    top:20%;
    right:0%;
    left:50%;
	bottom:10%;
    font-family:"lucida","arial";
	/*background-color:gray;*/
}


#adminAddUsersArea
{
    position:absolute;
    top:20%;
    left:42.5%;
    height:65%;
    width:20%;
    /*background-color:gray;*/
    font-family:"lucida","arial";

}

#accTypeRadios
{
    /*background-color:red;*/
    margin:1%;
}

#adminAddUsersArea input
{
    margin-top:0%;
    margin-left:0%;
    margin-bottom:15px;

}

#adminAddUsersArea p
{
    margin-top:10px;
    margin-left:0%;
    margin-bottom:0%;
}

.addUserLoader{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3377ff;
	border-bottom: 16px solid #3377ff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#selectedUserInfo
{
	position: absolute;
	left: 42%;
	top: 20%;
	height:60%;
    width:40%;
	/*background-color:gray;*/
}

#deleteSelectedBtb
{
	Position:absolute;
	left: 50%;
	top: 2.5%;
	
}



/*---------DARRAGH'S CSS------------*/

#info
{
    position:absolute;
    top:50%;
    left:47.5%;
}

#aboutText
{
    position:absolute;
    top:25%;
    left:30%;
    Width:450px;
    height:300px;
}

#msgText
{
    position:absolute;
    top:25%;
    right:20%;
    Width:300px;
    height:300px;
}

#contactText
{
    position:absolute;
    top:25%;
    left:40%;
    Width:300px;
    height:300px;
}

#msgText input[type="text"] {
    width: 160px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    margin:10px;
    outline: none;}
#msgText input[type="text"]:focus,
#msgText input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;}
#msgText input[type="submit"] {
    border: 1px solid #006633;
    background-color: #3377ff;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;}
#msgText input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: #009fff;
    color: #ffffff;
    cursor: pointer;}

/*-----------SHANE'S CSS------------*/

table
{
    width:70%;
    border: 2px solid #3377ff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

th
{
    border-bottom: 2px solid  #3377ff;
    border-right: 1px solid  #3377ff;
}

td
{
    border: 1px solid  #3377ff;
}

#weather{
	margin-left:90%;
	margin-top: -120px;
	color:white;
    text-decoration: none;
    font-family:"lucida","arial";
    font-size:150%;
}

/*---------JACK'S CSS------------*/

#googleMap
{
    position: absolute;
    right: 20%;
    top: 140px;
    bottom: 20%;
    left: 0;
    height: 72vh;
    width: auto;
    border: 3px solid #7aadff;
    padding: 250px;
    background-color: #3377ff;
}



#items
{
	position: relative;
	float: left;
	border-left: thin solid #003B62;
	font-family: verdana;
	background-color: #3377ff;
  width: 20%;
  margin-left: 80%;
  height: 65vh;
  overflow-y: scroll;
  color: #fff;
  text-align: center;
  z-index: 0;
}​

#showLoc
{


}

#showLocMet
{
  background-color: #0041B2;
  height: 5vh;
  border: white;
  box-shadow: 10px, 10px, 5px #888888;
  height: : 50px;
  z-index: 999;
  width: 20%;
  margin-left: 80%;
  color: #fff;
}
